.App {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 80%;
    margin-top: 20px;

    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}

.input-form {
    width: 400px;
    border: solid 3px #000000;
}

.time-table {
    width: 400px;
    border: solid 3px #000000;
}

